version: "3.9"
services:
  mongo:
    image: mongo:7
    restart: unless-stopped
    ports: ["27017:27017"]
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    environment:
      - MONGO_URI=mongodb://mongo:27017/backoffice_user_manager
      - PORT=4000
      - NODE_ENV=development
    ports: ["4000:4000"]
    depends_on: [mongo]

  web:
    build: ./web
    environment:
      - NEXT_PUBLIC_API_BASE=http://localhost:4000/api
      - NODE_ENV=production
    ports: ["3000:3000"]
    depends_on: [backend]

volumes:
  mongo_data:
